{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://adminmanagement.local.azurestack.external/"
        }
    ],
    "info": {
        "description": "Virtual Network admin operation endpoints and objects.",
        "title": "NetworkAdminManagementClient",
        "version": "2015-06-15",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/VirtualNetworks.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "azsadmin-VirtualNetworks",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminVirtualNetworks": {
            "get": {
                "description": "Get a list of all virtual networks.",
                "operationId": "VirtualNetworks_List",
                "parameters": [
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-06-15"
                        }
                    },
                    {
                        "description": "OData filter parameter.",
                        "in": "query",
                        "name": "$filter",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "OData orderBy parameter.",
                        "in": "query",
                        "name": "$orderBy",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "OData top parameter.",
                        "in": "query",
                        "name": "$top",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "OData skip parameter.",
                        "in": "query",
                        "name": "$skip",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "OData inline count parameter.",
                        "in": "query",
                        "name": "$inlineCount",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Pageable list of virtual networks.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URI to the next page.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of virtual networks for this page.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Base Resource Object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "URI of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Region location of resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Name of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "List of key value pairs.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Type of resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "This represents a virtual network.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Properties of a virtual network.",
                                                        "x-ms-client-flatten": true,
                                                        "allOf": [
                                                            {
                                                                "description": "Objects which have a provisioning state.",
                                                                "properties": {
                                                                    "provisioningState": {
                                                                        "description": "The provisioning state.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            {
                                                                "description": "These resources are utilized by a single tenant.",
                                                                "properties": {
                                                                    "subscriptionId": {
                                                                        "description": "The subscription ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "tenantResourceUri": {
                                                                        "description": "The tenant resource URI.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "properties": {
                                                            "configurationState": {
                                                                "description": "The virtual network configuration state.",
                                                                "properties": {
                                                                    "hostErrors": {
                                                                        "description": "List of NIC errors associated with the resource.",
                                                                        "items": {
                                                                            "description": "Virtual network configuration status.",
                                                                            "properties": {
                                                                                "lastUpdatedTime": {
                                                                                    "description": "Last updated time for the configuration status.",
                                                                                    "format": "date-time",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                },
                                                                                "status": {
                                                                                    "description": "The virtual network configuration status.",
                                                                                    "enum": [
                                                                                        "Failure",
                                                                                        "Warning",
                                                                                        "Success",
                                                                                        "Uninitialized",
                                                                                        "InProgress",
                                                                                        "Unknown"
                                                                                    ],
                                                                                    "readOnly": true,
                                                                                    "type": "string",
                                                                                    "x-ms-enum": {
                                                                                        "modelAsString": true,
                                                                                        "name": "VirtualNetworkConfigurationStatusType"
                                                                                    }
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "lastUpdatedTime": {
                                                                        "description": "Last updated time for the running state.",
                                                                        "format": "date-time",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "status": {
                                                                        "description": "The virtual network status.",
                                                                        "enum": [
                                                                            "Failure",
                                                                            "Warning",
                                                                            "Success",
                                                                            "Uninitialized",
                                                                            "InProgress",
                                                                            "Unknown"
                                                                        ],
                                                                        "readOnly": true,
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "VirtualNetworkConfigurationStateStatusType"
                                                                        }
                                                                    },
                                                                    "virtualNetworkInterfaceErrors": {
                                                                        "description": "List of NIC errors associated with the resource.",
                                                                        "items": {
                                                                            "description": "Virtual network configuration status.",
                                                                            "properties": {
                                                                                "lastUpdatedTime": {
                                                                                    "description": "Last updated time for the configuration status.",
                                                                                    "format": "date-time",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                },
                                                                                "status": {
                                                                                    "description": "The virtual network configuration status.",
                                                                                    "enum": [
                                                                                        "Failure",
                                                                                        "Warning",
                                                                                        "Success",
                                                                                        "Uninitialized",
                                                                                        "InProgress",
                                                                                        "Unknown"
                                                                                    ],
                                                                                    "readOnly": true,
                                                                                    "type": "string",
                                                                                    "x-ms-enum": {
                                                                                        "modelAsString": true,
                                                                                        "name": "VirtualNetworkConfigurationStatusType"
                                                                                    }
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "VirtualNetworks"
                ],
                "x-ms-examples": {
                    "List of all virtual networks.": {
                        "parameters": {
                            "api-version": "2016-05-01",
                            "subscriptionId": "fc8456aa-4843-4079-a152-f3497c63aa73"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/adminVirtualNetworks/TestVirtualNetwork",
                                            "location": "",
                                            "name": "TestVirtualNetwork",
                                            "properties": {
                                                "configurationState": {
                                                    "hostErrors": [],
                                                    "lastUpdatedTime": "2017-10-12T15:24:47.4985673-07:00",
                                                    "status": "Success",
                                                    "virtualNetworkInterfaceErrors": []
                                                },
                                                "provisioningState": "Succeeded",
                                                "subscriptionId": "fc8456aa-4843-4079-a152-f3497c63aa73",
                                                "tenantResourceUri": "/subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/resourceGroups/GreatResource/providers/Microsoft.Network/virtualNetworks/TestVirtualNetwork"
                                            },
                                            "type": "Microsoft.Network.Admin/adminVirtualNetworks"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/VirtualNetwork",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "VirtualNetwork": {
                "allOf": [
                    {
                        "description": "Base Resource Object",
                        "properties": {
                            "id": {
                                "description": "URI of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "location": {
                                "description": "Region location of resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "name": {
                                "description": "Name of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "tags": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "List of key value pairs.",
                                "type": "object"
                            },
                            "type": {
                                "description": "Type of resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "This represents a virtual network.",
                "properties": {
                    "properties": {
                        "description": "Properties of a virtual network.",
                        "x-ms-client-flatten": true,
                        "allOf": [
                            {
                                "description": "Objects which have a provisioning state.",
                                "properties": {
                                    "provisioningState": {
                                        "description": "The provisioning state.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            {
                                "description": "These resources are utilized by a single tenant.",
                                "properties": {
                                    "subscriptionId": {
                                        "description": "The subscription ID.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "tenantResourceUri": {
                                        "description": "The tenant resource URI.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        ],
                        "properties": {
                            "configurationState": {
                                "description": "The virtual network configuration state.",
                                "properties": {
                                    "hostErrors": {
                                        "description": "List of NIC errors associated with the resource.",
                                        "items": {
                                            "description": "Virtual network configuration status.",
                                            "properties": {
                                                "lastUpdatedTime": {
                                                    "description": "Last updated time for the configuration status.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "The virtual network configuration status.",
                                                    "enum": [
                                                        "Failure",
                                                        "Warning",
                                                        "Success",
                                                        "Uninitialized",
                                                        "InProgress",
                                                        "Unknown"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "VirtualNetworkConfigurationStatusType"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "lastUpdatedTime": {
                                        "description": "Last updated time for the running state.",
                                        "format": "date-time",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "status": {
                                        "description": "The virtual network status.",
                                        "enum": [
                                            "Failure",
                                            "Warning",
                                            "Success",
                                            "Uninitialized",
                                            "InProgress",
                                            "Unknown"
                                        ],
                                        "readOnly": true,
                                        "type": "string",
                                        "x-ms-enum": {
                                            "modelAsString": true,
                                            "name": "VirtualNetworkConfigurationStateStatusType"
                                        }
                                    },
                                    "virtualNetworkInterfaceErrors": {
                                        "description": "List of NIC errors associated with the resource.",
                                        "items": {
                                            "description": "Virtual network configuration status.",
                                            "properties": {
                                                "lastUpdatedTime": {
                                                    "description": "Last updated time for the configuration status.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "The virtual network configuration status.",
                                                    "enum": [
                                                        "Failure",
                                                        "Warning",
                                                        "Success",
                                                        "Uninitialized",
                                                        "InProgress",
                                                        "Unknown"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "VirtualNetworkConfigurationStatusType"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "VirtualNetworkConfigurationState": {
                "description": "The virtual network configuration state.",
                "properties": {
                    "hostErrors": {
                        "description": "List of NIC errors associated with the resource.",
                        "items": {
                            "description": "Virtual network configuration status.",
                            "properties": {
                                "lastUpdatedTime": {
                                    "description": "Last updated time for the configuration status.",
                                    "format": "date-time",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "status": {
                                    "description": "The virtual network configuration status.",
                                    "enum": [
                                        "Failure",
                                        "Warning",
                                        "Success",
                                        "Uninitialized",
                                        "InProgress",
                                        "Unknown"
                                    ],
                                    "readOnly": true,
                                    "type": "string",
                                    "x-ms-enum": {
                                        "modelAsString": true,
                                        "name": "VirtualNetworkConfigurationStatusType"
                                    }
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "lastUpdatedTime": {
                        "description": "Last updated time for the running state.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                    },
                    "status": {
                        "description": "The virtual network status.",
                        "enum": [
                            "Failure",
                            "Warning",
                            "Success",
                            "Uninitialized",
                            "InProgress",
                            "Unknown"
                        ],
                        "readOnly": true,
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "VirtualNetworkConfigurationStateStatusType"
                        }
                    },
                    "virtualNetworkInterfaceErrors": {
                        "description": "List of NIC errors associated with the resource.",
                        "items": {
                            "description": "Virtual network configuration status.",
                            "properties": {
                                "lastUpdatedTime": {
                                    "description": "Last updated time for the configuration status.",
                                    "format": "date-time",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "status": {
                                    "description": "The virtual network configuration status.",
                                    "enum": [
                                        "Failure",
                                        "Warning",
                                        "Success",
                                        "Uninitialized",
                                        "InProgress",
                                        "Unknown"
                                    ],
                                    "readOnly": true,
                                    "type": "string",
                                    "x-ms-enum": {
                                        "modelAsString": true,
                                        "name": "VirtualNetworkConfigurationStatusType"
                                    }
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "VirtualNetworkConfigurationStatus": {
                "description": "Virtual network configuration status.",
                "properties": {
                    "lastUpdatedTime": {
                        "description": "Last updated time for the configuration status.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                    },
                    "status": {
                        "description": "The virtual network configuration status.",
                        "enum": [
                            "Failure",
                            "Warning",
                            "Success",
                            "Uninitialized",
                            "InProgress",
                            "Unknown"
                        ],
                        "readOnly": true,
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "VirtualNetworkConfigurationStatusType"
                        }
                    }
                },
                "type": "object"
            },
            "VirtualNetworkProperties": {
                "allOf": [
                    {
                        "description": "Objects which have a provisioning state.",
                        "properties": {
                            "provisioningState": {
                                "description": "The provisioning state.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    {
                        "description": "These resources are utilized by a single tenant.",
                        "properties": {
                            "subscriptionId": {
                                "description": "The subscription ID.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "tenantResourceUri": {
                                "description": "The tenant resource URI.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "description": "Properties of a virtual network.",
                "properties": {
                    "configurationState": {
                        "description": "The virtual network configuration state.",
                        "properties": {
                            "hostErrors": {
                                "description": "List of NIC errors associated with the resource.",
                                "items": {
                                    "description": "Virtual network configuration status.",
                                    "properties": {
                                        "lastUpdatedTime": {
                                            "description": "Last updated time for the configuration status.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The virtual network configuration status.",
                                            "enum": [
                                                "Failure",
                                                "Warning",
                                                "Success",
                                                "Uninitialized",
                                                "InProgress",
                                                "Unknown"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "VirtualNetworkConfigurationStatusType"
                                            }
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "lastUpdatedTime": {
                                "description": "Last updated time for the running state.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                            },
                            "status": {
                                "description": "The virtual network status.",
                                "enum": [
                                    "Failure",
                                    "Warning",
                                    "Success",
                                    "Uninitialized",
                                    "InProgress",
                                    "Unknown"
                                ],
                                "readOnly": true,
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": true,
                                    "name": "VirtualNetworkConfigurationStateStatusType"
                                }
                            },
                            "virtualNetworkInterfaceErrors": {
                                "description": "List of NIC errors associated with the resource.",
                                "items": {
                                    "description": "Virtual network configuration status.",
                                    "properties": {
                                        "lastUpdatedTime": {
                                            "description": "Last updated time for the configuration status.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The virtual network configuration status.",
                                            "enum": [
                                                "Failure",
                                                "Warning",
                                                "Success",
                                                "Uninitialized",
                                                "InProgress",
                                                "Unknown"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "VirtualNetworkConfigurationStatusType"
                                            }
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "VirtualNetworksList": {
                "description": "Pageable list of virtual networks.",
                "properties": {
                    "nextLink": {
                        "description": "URI to the next page.",
                        "type": "string"
                    },
                    "value": {
                        "description": "List of virtual networks for this page.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "Base Resource Object",
                                    "properties": {
                                        "id": {
                                            "description": "URI of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Region location of resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Name of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "List of key value pairs.",
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Type of resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            ],
                            "description": "This represents a virtual network.",
                            "properties": {
                                "properties": {
                                    "description": "Properties of a virtual network.",
                                    "x-ms-client-flatten": true,
                                    "allOf": [
                                        {
                                            "description": "Objects which have a provisioning state.",
                                            "properties": {
                                                "provisioningState": {
                                                    "description": "The provisioning state.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "description": "These resources are utilized by a single tenant.",
                                            "properties": {
                                                "subscriptionId": {
                                                    "description": "The subscription ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tenantResourceUri": {
                                                    "description": "The tenant resource URI.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "properties": {
                                        "configurationState": {
                                            "description": "The virtual network configuration state.",
                                            "properties": {
                                                "hostErrors": {
                                                    "description": "List of NIC errors associated with the resource.",
                                                    "items": {
                                                        "description": "Virtual network configuration status.",
                                                        "properties": {
                                                            "lastUpdatedTime": {
                                                                "description": "Last updated time for the configuration status.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "The virtual network configuration status.",
                                                                "enum": [
                                                                    "Failure",
                                                                    "Warning",
                                                                    "Success",
                                                                    "Uninitialized",
                                                                    "InProgress",
                                                                    "Unknown"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "VirtualNetworkConfigurationStatusType"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "lastUpdatedTime": {
                                                    "description": "Last updated time for the running state.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "The virtual network status.",
                                                    "enum": [
                                                        "Failure",
                                                        "Warning",
                                                        "Success",
                                                        "Uninitialized",
                                                        "InProgress",
                                                        "Unknown"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "VirtualNetworkConfigurationStateStatusType"
                                                    }
                                                },
                                                "virtualNetworkInterfaceErrors": {
                                                    "description": "List of NIC errors associated with the resource.",
                                                    "items": {
                                                        "description": "Virtual network configuration status.",
                                                        "properties": {
                                                            "lastUpdatedTime": {
                                                                "description": "Last updated time for the configuration status.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "The virtual network configuration status.",
                                                                "enum": [
                                                                    "Failure",
                                                                    "Warning",
                                                                    "Success",
                                                                    "Uninitialized",
                                                                    "InProgress",
                                                                    "Unknown"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "VirtualNetworkConfigurationStatusType"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 flow.",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}